
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: hsla(0, 88%, 55%, 0.781);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: hsla(192, 45%, 47%, 0.643);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #030101;
}

ul {
    list-style-type: square;
}

a {
    color: #180202;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #d1b5c5;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.hidden{
    display: none;
}


